
/**/
/*商品列表*/
.dish_container{

}

.dish_container .tab_dish{
    position: relative;
    /*height: 114px;*/
    display: inline-block;
    border: 1px darkgrey solid;
    border-radius: 6px;
    padding: 6px;
    margin: 10px;
}

.dish_container .img_container{
    top: 0;
    width: 110px;
    height: 110px;
    display: inline-block;
}

.dish_container .caption{
    top: 0;
    height: 100%;
    width: 200px;
    height: 110px;
    display: inline-block;
}

.dish_container .caption p {
    font-size: 11px;
}

.dish_container .brief, .time{
    height: 15px;
}

.dish_container .caption .btn{
    /*height: 20px;*/
}

/**/
/*新增修改商品modal*/
