/**/
/*商户列表*/
.order_container{

}

.order_container .tab_order{
    position: relative;
    /*height: 114px;*/
    display: inline-block;
    border: 1px darkgrey solid;
    border-radius: 6px;
    padding: 6px;
    margin: 10px;
}

.order_container .img_container{
    top: 0;
    width: 110px;
    height: 110px;
    display: inline-block;
}

.order_container .caption{
    top: 0;
    margin-left: 15px;
    height: 100%;
    width: 400px;
    height: 110px;
    display: inline-block;
    vertical-align: middle;
}

.order_container .caption span small{
    font-size: 15px;
}

.order_container .caption p {
    font-size: 13px;
}

.order_container .orderTime, .briefAndPrice{
    height: 15px;
}

.order_container .caption .name, .order_container .caption .name label{
    font-size: 18px;
    cursor: pointer;
    color: #000;
}
